/* style for analysis.php */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Arial";
  background: rgba(183, 228, 199, 0.5);
  overflow-x: hidden;
}

button:hover {opacity: 0.8;}
button{
  background-color: #0f5301;
  padding: 0.5em; 
  border: 0;
  border-radius: 60%;
}
/* header */
#navigation-bar{
  padding: 0;
  margin: 0;
  background: #592f20;
}
#nav-tag{
  border: 0.1em solid #88cc7a;
}
#nav-icon{
  color: #88cc7a;
}

.masthead {
  background-size: cover;
  position: absolute;
}
.head{
  color: #ddd;
}
/* Section */
.section-content{
  margin-top: -7%;
  min-height: 100%;
}
.para{
  background-color: rgba(89, 47, 32, 0.279);
  overflow-x: hidden;
}
#para{
  margin-left: 10em;
  margin-right: 10em;
  font-size: 1.5em;
  font-weight: 400;
  color: #f4e015;
}
/* to medium */
@media screen and (max-width: 768px) {
  #para{
    margin-left: 2em;
    margin-right: 2em;
  }
}
.main-img{
  width: 75%;
  padding-left: auto;
  padding-right: auto;
}
/* to xs */
@media screen and (max-width: 768px) {
  #para{
    margin-left: 0;
    margin-right: 0;
    font-size: 1em;
  }
}

.main-img{
  width: 50%;
  padding-left: auto;
  padding-right: auto;
}

/* Footer */
footer{
  padding: 0;
  margin: 0;
  background: #592f20;
}
@media screen and (max-width: 576px) {
  .footer-top{
    flex-direction: column;
  }
  .footer-bottom{
    flex-direction: column;
  }
  #footer-text-link-top{
    margin-bottom: 1em;
  }
}
.footer-text-link{
  color: #ddd;
}
.footer-icon-link{
  text-decoration: none;
}
.footer-info{
  width: 33.3333%;
}
.fa-brands{
  color: #ddd;
}

/* Modal */
.avatar {
  width: 20%;
  padding: 0.5em;
  border-radius: 20%;
  border: 3px solid #0f5301;
}
#password, #username{
  width: 100%;
  padding: 12px 20px;
  margin: 0.5em;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}


span, important{
  color: #5cf63d;
}

.table {
  margin-right: auto;
  margin-left: auto;
}

.content-table {
  margin-right: auto;
  margin-left: auto;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
th {
  background: rgba(45, 106, 79, 0.75);
}

tr:nth-child(even) {
  background-color: rgba(8, 28, 21, 0.2);
}

.bot {
  text-align: center;
  padding: 1em;
}
.addNew {
  text-align: right;
}

.container {
  padding: 16px;
}
.index-form {
  width: 300px;
}
.details-page {
  text-align: center;
}