/* style for analysis.php */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#navigation-bar{
  padding: 0;
  margin: 0;
  background: #592f20;
}
footer{
  padding: 0.8rem;
  margin: 0;
  background: #592f20;
  color: #ddd;
}
footer a{
  text-decoration: none;
  color: #ddd
}
.footer-info{
  width: 33.3333%;
}
.footer-info ul li{
  list-style-type: none;
}

.masthead {
  background-size: cover;
  height: 500px;
  position: relative;
  color: white;
  text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

html {
  background: rgba(183, 228, 199, 0.5);
  overflow-x: hidden;
}

body {
  font-family: "Arial";
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}
.hero-img{
  max-width: 40rem;
}
.lead{
  color: #ddd;
}
.para{
  background-color: rgba(89, 47, 32, 0.279);
}
#para{
  margin-left: 7em;
  margin-right: 7em;
  font-size: 2em;
  font-weight: 400;
  color: #f4e015;
}
span, important{
  color: #5cf63d;
}

.table {
  margin-right: auto;
  margin-left: auto;
}

.content-table {
  margin-right: auto;
  margin-left: auto;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
th {
  background: rgba(45, 106, 79, 0.75);
}

tr:nth-child(even) {
  background-color: rgba(8, 28, 21, 0.2);
}
a {
  text-decoration: none;
}

ul li a{
  color: #ccc;
  text-decoration: none;
}

.bot {
  text-align: center;
  padding: 1em;
}
.addNew {
  text-align: right;
}
.login {
  border: 3px solid #f1f1f1;
  width: 300px;
  margin: auto;
}
img.avatar {
  width: 100px;
  border-radius: 20%;
  border: 5px solid #65d36a;
}

.container {
  padding: 16px;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

button{
  background-color: #592f20;
  padding: 0.5em; 
  border-radius: 60%;
}

button:hover {
  opacity: 0.8;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.index-form {
  width: 300px;
}
.details-page {
  text-align: center;
}

/* animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}


/* media query */

@media(max-width:500px) {
  section {
    display: none;
  }
}